.f1{
    color: red;
}
#f1{
    color: green;
}
#bc{
    background-color: chartreuse;
}
body{
    background-image: url(images/Cristiano-Ronaldo.png);
    background-repeat: no-repeat;
    background-size: 200px 150px;
    background-position: top right;
}