ul.a {
    list-style-type: circle;
}

ul.b {
    list-style-type: square;
}

ol.c {
    list-style-type: upper-roman;
}

ol.d {
    list-style-type: lower-alpha;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}
tbody td{
    border: 1px solid black;
    padding: 8px;
}
table th {
    padding: 12px 0 12px;
    background-color: green;
    color: white;
}
tfoot td{
    padding: 12px 0 12px;
    background-color: black;
    color: white;
    text-align: center;
}

